body{
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 16px;
}
.page-wrapper{
  margin: 0 auto;
  width: 980px;
  height: 100%;
}
.header ul{
  list-style: none;
  padding: 0;
}
.header ul li{
  display: inline;
  margin-right: 15px;
}
.header ul li a{
  text-decoration: none;
  color: #336699;
}
.header ul li a:hover{
  color: #6699cc;
}
.footer p{
border-top: 1px solid lightgray; 
padding-top: 15px;
text-align: center;
color: #6699cc;
}
span.error{
  color: red;
}
.post-box{
  border: 1px solid lightgray;
  margin-bottom: 15px;
  padding-left: 15px;
  
}
span.right{
  float: right;
  margin-right: 15px;
  text-decoration: none;
  
}
#sm-box {
  background: green;
  text-align: center;
  color: white;
  padding: 1px;
}